.projects-container {
  width: 100vw;
  padding: 20px 20px 20px 20px;
}

.projects-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  position: relative;
}

@media (max-width: 991px) {
  .projects-group {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    column-gap: 20px;
  }
  .Card {
    width: 400px;
  }
}

@media (max-width: 767px) {
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .projects-group {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
  }
  .Card {
    width: 250px;
    height: 340px;
  }
}

.Card {
  width: 350px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  cursor: pointer;
  background-color: white;
  padding: 10px 20px;
}

.Card a {
  text-decoration: none;
}

.Card img {
  height: 100%;
  width: 100%;
  z-index: 1;
}
.Card h3 {
  color: black;
  font-size: 30px;
  z-index: -1;
}

.Card p {
  color: black;
  font-weight: 600;
  font-size: 18px;
  align-self: end;
  z-index: -1;
}

.Card:hover {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  background-color: white;
  transform: scale(1.1, 1.1);
}

.Card:hover img {
  display: none;
}
